*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.di
*.xls#

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# SMT files
*.rs
*.in
*.out
*.tmp
camlside/a
Test/
Test/bin/raSAT
Test/raSAT
bin/raSAT
Test/smtlib-20140121/QF_NRA/nonlinear
Test/smtlib-20140121/QF_LRA
Test/smtlib-20140121/QF_NRA/ijcar2012_benchmarks.tar
solver/raSAT
solver/iRRAM_2013_01/
solver/iRRAM
to be sent/
*.zip
*.gz
*.smt2

# latex files.
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
